body {
    font-family: Arial, sans-serif;
    background-image: url("./data/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;

    height: 100vh;
    overflow-y: hidden;
}

.logo-text {
    display: flex;
    justify-content: center;
    gap: 1%;
    margin: 2% 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard {
    display: flex;
    gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 300px;
    border: 1px solid #ddd;
    position: relative;
    text-align: center;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.card h3 {
    margin: 8px;
    font-size: 1.5rem;
}

.cta-button {
    background: linear-gradient(45deg, #3498db, #8e44ad);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 0 0 0;
    font-size: 1rem;
    transition: background 0.3s ease;
}

.cta-button:hover {
    background: linear-gradient(45deg, #8e44ad, #3498db);
}

